<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href='https://fonts.googleapis.com/css?family=Roboto:700,300,400' rel='stylesheet' type='text/css'>
</head>

<body>

<%= render 'layouts/partials/nav' %>

  <div class="container" id='content'>
<%= yield %>
    <div class="download">
      <a href="http://kolber.github.com/audiojs/audiojs.zip" class="button"><em>Download</em> audio.js</a>
    </div>
<%= render 'layouts/partials/footer' %>
  </div>



</body>
</html>
